{% extends 'base.html.twig' %}
{% block header_title %}Личный кабинет{% endblock %}

{% block page_image %}info_terms{% endblock %}

{% block body %}
    <h2>Смена пароля</h2>
    {% block content %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <span style="color: #a94442;">*</span> - поля обязательны к заполнению
    {% endblock %}
{% endblock %}

{% block javascript %}
{% endblock %}