{% extends '@twig_views/Exception/base.html.twig' %}

{% block header_title %}Страница не найдена 404 {% endblock %}

{% block page_image %}info_terms{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       {# Авторизован#}
    {% endif %}

    <p>
        Мы не нашли страницу, но Вы можете вернуться <a href="{{ path('homepage') }}">на главную</a>.
    </p>
{% endblock %}