{% extends 'base.html.twig' %}

{% block title %}Стоимость участия{% endblock %}

{% block header_title %}Стоимость участия{% endblock %}

{% block body %}
    <p></p>

    <p><strong>Стоимость пакета участника КРОС</strong></p>

    <ul>
        <li>Участие в деловой программе (доклады в большом конференц-зале, 6 тематических секций, 2 шоу-рума);</li>
        <li>Отдых и развлечения в отеле (тренажерный зал, SPA комплекс);</li>
        <li>Развлекательная программа (BBQ вечеринка, банкет, шоу-программа);</li>
        <li>Канатные дороги (дороги А1, А2);</li>
        <li>Размещение в отеле Поляна 1389 в соответствии с классом билета на 3 ночи.</li>
    </ul>

    <p><strong>Условия оплаты</strong></p>

    <p>Номер для проживания бронируется на 7 дней со дня выставления счета. В течение этого времени участник должен полностью оплатить счета. В случае неоплаты, бронь автоматически аннулируется.</p>

    <p>Ранний заезд и поздний выезд участники оплачивают самостоятельно. Обязательно сообщите о необходимости изменения сроков проживания в отеле при регистрации на Конференцию.&nbsp;</p>

    <p><strong>Ваши вопросы и предложения организаторам КРОС направляйте на <a href="mailto:cros@nag.ru">cros@nag.ru</a><br>
            Контактные телефоны для экстренной связи: (343) 379-98-38</strong></p>

    <p>Проект "Конференция Российских Операторов Связи" полностью некоммерческий. Организаторы не ставят задачи заработать на нем.</p><p></p>
    <br>

    {% set isChecked = true %}
    {% for type in roomTypes %}
        <label class="u-check d-block cs-mb-20">
            <input class="d-none cs-pos-abs cs-top-10 cs-right-10 cs-p-text-white--checked" name="plan_1" type="radio"{% if isChecked %} checked=""{% endif %}>
            <div class="media d-block d-md-flex u-shadow-v18 cs-bg-primary--checked">
                <div class="d-md-flex align-self-center cs-pa-30">
                    <div class="w-100">
                        <h3 class="cs-line-height-1 cs-font-weight-700 cs-font-size-23 cs-color-primary cs-color-white--checked mb-0">{{ type.cost }} <span>Руб.</span></h3>
                        <small class="cs-font-size-11 cs-theme-color-gray-dark-v1 cs-color-white--checked">за человека</small>
                    </div>
                </div>
                <div class="media-body cs-py-25 cs-px-30 cs-brd-top--dashed cs-brd-top-none--md cs-brd-left--dashed--md cs-border-gray">
                    <h4 class="h4 text-uppercase cs-font-weight-700 cs-font-size-14 cs-color-white--checked">{{ type.title }}</h4>
                    {{ type.description|raw }}
                </div>
            </div>
        </label>
        {% set isChecked = false %}
    {% endfor %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
