<div class="cs-font-weight-700 cs-font-size-11 text-uppercase d-inline-block cs-pos-rel">
    <div class="login-v1">
        <!-- <i class="fa fa-sign-in"></i> -->
        <a href="#" id="login" class="login-link cs-py-5">
            <i class="login login-btn fa {% if error %}fa-times{% else %}fa-key{% endif %}"></i>&nbsp;&nbsp;Войти
        </a>
    </div>
    <!-- Search Form -->
    <div class="login-open cs-pos-abs cs-pa-10 cs-z-index-4">
        <div class="animated InDown">
        {% if error %}
            <style>
                .login-open {
                    display: block;
                }
            </style>
            <div><span class="bg-danger text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</span></div>
        {% endif %}
            <form action="{{ url('login') }}" method="POST">
                <div class="form-group ">
                    <input id="email-login" name="_username"{% if last_username %} value="{{ last_username }}"{% endif %} class="form-control cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit rounded-0 cs-pa-10 w-100" name="email-login" type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input id="pass" name="_password" class="form-control cs-font-size-12 cs-theme-color-gray-dark-v3 cs-placeholder-inherit rounded-0 cs-pa-10 w-100" name="pass" type="password" placeholder="Пароль">
                </div>
                <button class="btn btn-md btn-block u-btn-green cs-color-white s-color-white--hover cs-bg-primary--hover text-uppercase cs-font-weight-700 cs-font-size-11 rounded-0 cs-py-17 cs-px-20" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>
