<table width="1000px" height="500px" cellspacing="0" cellpadding="0" border="0" style="font-family: arial; background: url('http://cros.nag.ru/temp/bg.jpg') no-repeat; background-position: bottom; width: 1000px; height: 500px; border-collapse:collapse; border-spacing: 0;">
    <tr><td colspan="3" height="50px" style="height: 50px;"></td></tr>
    <tr>
        <td width="40px"></td>
        <td width="920px">
            <table width="820px" cellspacing="0" cellpadding="0" border="0" style="width: 820px; margin: 0 auto; border-collapse:collapse; border-spacing: 0; background: url('http://cros.nag.ru/temp/opacity.png');">
                <tr>
                    <td width="180px" style="width: 180px;">
                    </td>
                    <td style="padding: 10px 0;" colspan="2">
                        <h1>{% block title %}{% endblock %}</h1>
                    </td>
                </tr>
                <tr>
                    <td width="180px" style="padding: 0 20px; width: 180px; vertical-align: top;" rowspan="2">
                        <a href="http://shop.nag.ru">
                            <img src="http://cros.nag.ru/temp/nag_logo.png" alt="Вас приветствует компания НАГ.">
                        </a>
                        <img src="http://cros.nag.ru/temp/konf.png" alt="Конференция Российских Операторов Связи">
                    </td>
                    <td width="680px" style="width: 680px; padding-right: 20px; max-width: 680px; word-wrap: break-word; font-size: 16px;" colspan="2">
                        {% block message %}{% endblock %}
                        {#<p><img alt="" src="http://cros.nag.ru/uploads/images/partners(2).png" style="width: 600px; height: 130px;" /></p>#}
                    </td>
                </tr>
                <tr style="">
                    <td width="400px" style="font-size: 16px;">
                        С уважением,<br>Оргкомитет КРОС-2.0-17<br>E-mail: <a href="mailto:cros@nag.ru">cros@nag.ru</a><br>+7 (343) 379-98-38
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="text-align: center; padding: 10px 0px 10px 10px; vertical-align: top;">
                                    <a href="https://www.facebook.com/shopnag">
                                        <img src="http://cros.nag.ru/temp/of.png" alt="Nag Facebook">
                                    </a>
                                </td>
                                <td style="text-align: center; padding: 10px 10px 10px 4px; vertical-align: top;">
                                    <a href="http://cros.nag.ru">
                                        <img src="http://cros.nag.ru/temp/os.png" alt="Наш сайт">
                                    </a>
                                </td>
                                <td style="text-align: center; padding: 10px; vertical-align: top;">
                                    {#<a href="https://telegram.me/joinchat/CywwPD6FyilGFG-usMXaag">
                                        <img src="http://cros.nag.ru/temp/t_logo.png" alt="Telegram">
                                    </a>#}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="40px"></td>
    </tr>
    <tr><td colspan="3" height="50px" style="height: 50px;"></td></tr>
</table>