{% extends theme_template %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Регистрация{% endblock %}

{% block body %}
    <h2>Вы уже зарегистрированы</h2>
{% endblock %}

{% block javascripts %}
<script>

    $(function () {
        $('*[data-helper]').each(function () {
            $(this).after('<span class="text-muted">' + $(this).attr('data-helper') + '</span>');
        });

        $('#form_username').css('display', 'inline-block').css('width', '94%').before('<br><i class="glyphicon glyphicon-plus" style="display: inline-block;"></i>');

        $('#form_name, #form_inn, #form_email').parent('.form-group').css('margin-right', '2%');
        $('#form_name, #form_city, #form_inn, #form_kpp, #form_email, #form_username').parent('.form-group').css('width', '49%').css('display', 'inline-block').css('vertical-align', 'top');
    });

    if (navigator.geolocation) {
        console.log('Geolocation is supported!');

        /*
        var startPos;
        var geoOptions = {
            maximumAge: 5 * 60 * 1000,
        }
        var geoSuccess = function(position) {
            startPos = position;
            document.getElementById('startLat').innerHTML = startPos.coords.latitude;
            document.getElementById('startLon').innerHTML = startPos.coords.longitude;
        };
        var geoError = function(position) {
         console.log('Error occurred. Error code: ' + error.code);
         // error.code can be:
         //   0: unknown error
         //   1: permission denied
         //   2: position unavailable (error response from location provider)
         //   3: timed out
         };
         navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
        */
    }
</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}


