{% extends theme_template %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Регистрация{% endblock %}

{% block page_image %}registration{% endblock %}

{% block body %}
    <h3 class="text-success">Спасибо! Ваша заявка принята. Данные отправлены Вам на почту. В ближайшее время с Вами свяжется наш менеджер.</h3>

    <a class="btn btn-default" href="{{ url('registration-3') }}">Перейти в личный кабинет</a>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


