{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Рассылка</h1>
    <h2>{{ mail.subject }}</h2>
    {{ mail.text|raw }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script>
    </script>
{% endblock %}