{% extends 'base.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Регистрация{% endblock %}

{% block body %}

    <p><strong>Спасибо!</strong> Для продолжения регистрации проверьте почту.</p>
    <p>На указанный Вами e-mail отправлены учетные данные для авторизации в Личном кабинете</p>

    {{  dump(ConferenceOrganization) }}

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


