{% extends 'base.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block header_title %}Регистрация{% endblock %}

{% block body %}

    <p><strong>Спасибо!</strong> Ваша заявка принята.</p>
    <p> На указанный Вами e-mail отправлены учетные данные для авторизации в Личном кабинете.</p>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


