{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block header_title %}Регистрация{% endblock %}

{% block body %}

    <p><strong>Спасибо!</strong> Ваша заявка принята.</p>
{% if ended is defined %}
{% else %}
    <p> На указанный Вами e-mail отправлены учетные данные для авторизации в Личном кабинете.</p>
{% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


