 {% extends 'base.html.twig' %}
{% block title %}Конференция Российских Операторов Связи{% endblock %}
{% block header_title %}Программа КРОС{% endblock %}
{% block body %}
    Мы работаем над формированием интересной и насыщенной программы для вас.<br />
    За новостями можете следить на нашей странице в <a href="https://www.facebook.com/groups/cros.nag/" target="_blank" >Facebook</a><br /><br />

    О чём бы вы хотели поговорить и послушать?
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScACJoI8VfSuDMAZYog-YheyxaN9PYa3C1HMX62TxOC1NvJdA/viewform" target="_blank">Заполнить анкету</a>

 <br /> <br />Хотите представить свой доклад?<br />

<a class="btn u-btn-yellow cs-color-white cs-font-size-13 cs-px-10 cs-py-10 mb-0 cs-mt-15" href="{{ path('info', {'alias': 'become-speaker'}) }}">Стать докладчиком</a>

    </script>

{% endblock %}
{% block stylesheets %}
{% endblock %}
