{% if countdown_date %}
    {% if main_page %}
        <div style="text-align: center;text-transform: uppercase;" class="cs-font-size-23">{{ countdown_text }}</div>
        <!-- Countdown v4 -->
        <div class="js-countdown text-center text-uppercase u-countdown-v4"
             data-end-date="{{ countdown_date|date("Y/m/d H:i:s") }}"
             data-month-format="%m"
             data-days-format="%D"
             data-hours-format="%H"
             data-minutes-format="%M"
             data-seconds-format="%S">
            <div class="d-inline-block cs-font-size-12 cs-px-10 cs-px-50--md cs-py-15">
                <div class="js-cd-days cs-font-size-20 cs-font-size-40--md cs-font-weight-700 cs-line-height-1 cs-mb-5">12</div>
                <span>Дней</span>
            </div>
            <div class="d-inline-block cs-font-size-12 cs-brd-left cs-px-10 cs-px-60--md cs-py-15">
                <div class="js-cd-hours cs-font-size-20 cs-font-size-40--md cs-font-weight-700 cs-line-height-1 cs-mb-5">01</div>
                <span>Часов</span>
            </div>
            <div class="d-inline-block cs-font-size-12 cs-brd-left cs-px-10 cs-px-60--md cs-py-15">
                <div class="js-cd-minutes cs-font-size-20 cs-font-size-40--md cs-font-weight-700 cs-line-height-1 cs-mb-5">52</div>
                <span>Минут</span>
            </div>
            <div class="d-inline-block cs-font-size-12 cs-brd-left cs-px-10 cs-px-50--md cs-py-15">
                <div class="js-cd-seconds cs-font-size-20 cs-font-size-40--md cs-font-weight-700 cs-line-height-1 cs-mb-5">52</div>
                <span>Секунд</span>
            </div>
        </div>
        <!-- End Countdown v4 -->
    {% else %}
        <div class="js-countdown text-right u-countdown-v4"
             data-end-date="{{ countdown_date|date("Y/m/d H:i:s") }}"
             data-month-format="%m"
             data-days-format="%D"
             data-hours-format="%H"
             data-minutes-format="%M"
             data-seconds-format="%S">
            <div class="d-inline-block cs-font-size-12 cs-px-10 cs-px-10--md cs-py-15">
                <div class="js-cd-days cs-font-size-15 cs-font-size-20--md cs-font-weight-300 cs-line-height-1 cs-mb-5">12</div>
                <span>Дней</span>
            </div>
            <div class="d-inline-block cs-font-size-12 cs-brd-left cs-px-10 cs-px-10--md cs-py-15">
                <div class="js-cd-hours cs-font-size-15 cs-font-size-20--md cs-font-weight-300 cs-line-height-1 cs-mb-5">01</div>
                <span>Часов</span>
            </div>
            <div class="d-inline-block cs-font-size-12 cs-brd-left cs-px-10 cs-px-10--md cs-py-15">
                <div class="js-cd-minutes cs-font-size-15 cs-font-size-20--md cs-font-weight-300 cs-line-height-1 cs-mb-5">52</div>
                <span>Минут</span>
            </div>
            <div class="d-inline-block cs-font-size-12 cs-brd-left cs-px-10 cs-px-10--md cs-py-15">
                <div class="js-cd-seconds cs-font-size-15 cs-font-size-20--md cs-font-weight-300 cs-line-height-1 cs-mb-5">52</div>
                <span>Секунд</span>
            </div>
        </div>
    {% endif %}
{% endif %}