<p>Нужно напомнить этой компании, если освободятся места на крос.<br />
    <b>Компания:</b> {{ company|raw }}
    <br/>
    <br/>
    <b>Контактный телефон:</b> {{ mobile|raw }}
    <br/>
    <br/>
</p>