{% extends theme_template %}

{% block body %}


   <center> <h3> Пожалуйста, заполните компанию, ваша компания должна быть зарегистрирована на КРОС что бы вы могли оставлять комментарии. </h3> </center>
{% endblock %}
