{% if error %}
    <div><span class="bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</span></div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="Email" required title="Электронная почта">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open show_pass" data-visible="false"></i></span>
        <input type="password" id="password" class="form-control" name="_password" placeholder="Пароль" required title="Пароль">
    </div>
    {#<input type="hidden" name="_target_path" value="{{ app.request.getUri }}">#}
    <button type="submit" class="btn btn-default">Войти</button>
</form>