body {
    background-color: #f5f5f5 !important;
  }
  .cs-bg-primary_block, .cs-bg-white {
    background-color: #f5f5f5 !important;
  }
  .cs-bg-yellow_block {
    background-color: #f5fafa !important;
  }