{% extends 'base.html.twig' %}

{% block title %}Конференция Российских Операторов Связи{% endblock %}

{% block text_image %}_organize{% endblock %}

{% block header_title %}Стать докладчиком{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}





{% block body %}

	{% if form %}
		 <p dir="ltr">Уважаемые коллеги!</p>

		<p dir="ltr">Поддерживая традиции КРОС, мы очень серьезно относимся &nbsp;к содержательной части конференции. Большинство тем докладов отбирается по результатам голосования среди участников Конференции. Потенциальным докладчикам следует иметь в виду:&nbsp;</p>

		<ul>
			<li dir="ltr">
			<p dir="ltr">Темы докладов принимаются в формате “Тема + тезисы”. Длительность доклада не более 20 минут.</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">Темы докладов принимаются до 15 апреля 2017 года.</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">Голосования участников пройдёт с 18 по 29 апреля 2017 года.</p>
			</li>
		</ul>

		<p dir="ltr"><br>
		Докладчики, чьи темы победят в голосовании, должны в двухнедельный срок предоставить организаторам презентациии и другие медиаматериалы, планируемые к использованию во время доклада.</p>

		<p dir="ltr">Вне конкурса проходят доклады, авторов которых организаторы приглашают на своё усмотрение, с целью сделать конференцию более интересной и разнообразной.</p>

		<h2>Заполните форму</h2>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	{% endif %}

	{% if data %}
		<h2>Данные отправлены</h2>
	{% endif %}

{% endblock %}

